@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

html, body {
  overflow: hidden;
  height: 100%;
}


appkit-button {
  --button-background: #0070f3;
  --button-color: white;
  --button-border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
